[defaults]
inventory = inventory.yml
roles_path = roles
host_key_checking = True
retry_files_enabled = False
vault_password_file = ~/.config/ansible/aac-coding-vault-pass
stdout_callback = yaml
interpreter_python = auto_silent
forks = 5

[ssh_connection]
pipelining = True
